{% extends 'layoutDashboard.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Lista de Usuarios</h2>

    <div class="text-right mb-3">
        <a href="{{ url_for('usuario.agregar_usuario') }}" class="btn btn-primary">Agregar Usuario</a>
    </div>

    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.rol }}</td>
                <td>
                    <a href="{{ url_for('usuario.editar_usuario', id_usuario=usuario.id) }}" class="btn btn-sm btn-warning">Editar</a>
                    <form action="{{ url_for('usuario.eliminar_usuario', id_usuario=usuario.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
